<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/style.css}" />
    <title>LOTHEBY'S</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/images/mainImage/lothebys_main_icon.png}" sizes="32x32" />
</head>
<body>
<main class="signup">
    <div id="signup_content">
        <div class="registration_container">
            <div class="signup_header">
                <a th:href="@{/index}">
                    <img th:src="@{/images/mainImage/lothebys_logo.png}" alt="메인아이콘">
                </a>
            </div>
            <div class="signup_main_container">
                <div class="signup_sub_container">
                    <div class="signup_sub_title">
                        <h1 class="signup_sub_title_h1">Create an account</h1>
                        <p class="signup_sub_title_p">
                            Creating an account allows you to view auction results and<br> our sales. To bid in our auctions, additional<br>
                            information will be required.
                        </p>
                    </div>
                </div>
                <div class="signup_form">
                    <!-- form -->
                    <form th:action="@{/user/signup_ok}" th:object="${userCreateForm}" method="post" onsubmit="return validate();">
                        <input type="text" th:field="*{id}" name="id" class="signup_form_id" placeholder="ID" autocomplete="off" required>
                        <button type="button" class="duplicate signup_form_id_double_check">Double Check</button>
                        <span class="signup_form_id_error"></span>
                        <div class="signup_form_phone_num">
                            <input type="tel" th:field="*{num1}" class="signup_form_num" placeholder="010" autocomplete="off" maxlength="3" oninput="movePhoneBox()" required>
                            <input type="tel" th:field="*{num2}" class="signup_form_num" autocomplete="off" maxlength="4" oninput="movePhoneBox()" required>
                            <input type="tel" th:field="*{num3}" class="signup_form_num" autocomplete="off" maxlength="4" oninput="movePhoneBox()" required>
                        </div>
                        <input type="text" th:field="*{email}" name="email" class="signup_form_email signup_form_num" placeholder="E-mail" autocomplete="off" required>
                        <input type="password" th:field="*{pwd}" name="pwd" class="signup_form_pwd" placeholder="Password" required>
                        <span class="signup_form_pwd_error1"></span>
                        <input type="password" name="pwd_double_check" class="signup_form_pwd_double_check" placeholder="Repeat Password" required>
                        <span class="signup_form_pwd_error2"></span>
                        <p class="signup_form_name_p">
                            Please enter your legal name as it appears on your ID.
                        </p>
                        <div class="signup_form_name">
                            <input type="text" th:field="*{name_first}" class="signup_form_name_first" placeholder="First name" autocomplete="off" required>
                            <input type="text" th:field="*{name_last}" class="signup_form_name_last" placeholder="Last name" autocomplete="off" required>
                        </div>
                        <div class="signup_form_check-box">
                            <label class="signup_form_check-box_label">
                                <input type="checkbox" class="signup_form_check-box_checkbox" required>
                                <p class="signup_form_check-box_checkbox_p">I would like to receive email updates from Lotheby's about upcoming auctions, events, top stories and more</p>
                            </label>
                        </div>
                        <div class="signup_form_check-box">
                            <label class="signup_form_check-box_label">
                                <input type="checkbox" class="signup_form_check-box_checkbox" required>
                                <p class="signup_form_check-box_checkbox_p">
                                    I have read and agree to the <a href="#" class="signup_form_check-box_checkbox_a">Privacy Policy</a>, <br>
                                    Lothebys.com <a href="#" class="signup_form_check-box_checkbox_a">Terms & Conditions</a> and <br>
                                    metaverse.Lothebys.com <a href="#" class="signup_form_check-box_checkbox_a">Terms of Service</a>
                                </p>
                            </label>
                        </div>
                        <input type="submit" class="signup_form_submit" value="Sign up">
                    </form>
                    <!-- form -->
                </div>
                <div id="footer_signup">
                    <p class="footer_signup_p">Already have an account?&nbsp;
                        <a th:href="@{/user/login}" class="footer_signup_a">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>
