<html layout:decorate="~{common/layout}" xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!-- 메인 페이지 이미지 영역 -->
    <div class="main-page-header-bottom">
        <button class="mpLeft"></button>
        <ul class="mainTopPhoto">
            <li class="mainTopPhoto1"></li>
            <li class="mainTopPhoto2"></li>
            <li class="mainTopPhoto3"></li>
            <li class="mainTopPhoto4"></li>
        </ul>
        <button class="mpRight"></button>
    </div>
    <!-- 메인 페이지 이미지 영역 -->
    <div class="main-page-middle">
        <div class="main-page-middle-top">
            <div class="main-page-middle-top-left">
                <h2>Upcoming Auctions</h2>
                <small>
                    <b>we've lowered our Buyer's Premium to 20% on almost everything we
                        sell click here to learn more about the new fee Structure
                    </b>
                </small>
            </div>
            <a href="" class="va">VIEW ALL</a>
        </div>
        <section class="hot-auction-stuff">
            <div class="hot-auction-stuff-info">
                <img src="/images/mainImage/has1.png" alt="경매품" />
                <div class="hot-auction-stuff-write">
                    <div class="hot-auction-stuff-title">
                        <strong>경매장 물품 1</strong>
                    </div>
                    <div class="hot-auction-stuff-date-loc">
                        <small>date</small><small>time</small><small>loc</small>
                    </div>
                    <div class="hot-auction-stuff-buttons">
                        <button>BID</button>
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="hot-auction-stuff-info">
                <img src="/images/mainImage/has2.png" alt="경매품" />
                <div class="hot-auction-stuff-write">
                    <div class="hot-auction-stuff-title">
                        <strong>경매장 물품 2</strong>
                    </div>
                    <div class="hot-auction-stuff-date-loc">
                        <small>date</small><small>time</small><small>loc</small>
                    </div>
                    <div class="hot-auction-stuff-buttons">
                        <button>BID</button>
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="hot-auction-stuff-info">
                <img src="/images/mainImage/has3.png" alt="경매품" />
                <div class="hot-auction-stuff-write">
                    <div class="hot-auction-stuff-title">
                        <strong>경매장 물품 3</strong>
                    </div>
                    <div class="hot-auction-stuff-date-loc">
                        <small>date</small><small>time</small><small>loc</small>
                    </div>
                    <div class="hot-auction-stuff-buttons">
                        <button>BID</button>
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="hot-auction-stuff-info">
                <img src="/images/mainImage/has4.png" alt="경매품" />
                <div class="hot-auction-stuff-write">
                    <div class="hot-auction-stuff-title">
                        <strong>경매장 물품 4</strong>
                    </div>
                    <div class="hot-auction-stuff-date-loc">
                        <small>date</small><small>time</small><small>loc</small>
                    </div>
                    <div class="hot-auction-stuff-buttons">
                        <button>BID</button>
                        <button></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="main-news-info">
            <div class="main-news-info-top">
                <h2>Our's Select</h2>
                <a href="" class="va">VIEW ALL</a>
            </div>
            <div class="main-news-info-bottom">
                <div class="main-news-info-bottom-left">
                    <div class="main-news-info-bottom-left1">
                        <img src="/images/mainImage/news1.png" alt="뉴스사진" />
                        <p>장르</p>
                        <div>
                            <b>타이틀</b>
                        </div>
                    </div>
                    <div class="main-news-info-bottom-left2">
                        <img src="/images/mainImage/news2.png" alt="뉴스사진" />
                        <p>장르</p>
                        <div>
                            <b>타이틀</b>
                        </div>
                    </div>
                </div>
                <div class="main-news-info-bottom-right">
                    <div class="main-news-info-bottom-right1">
                        <img
                                src="/images/mainImage/news3.png"
                                alt="뉴스사진"
                                style="width: 90%"
                        />
                        <p>장르</p>
                        <div>
                            <b>타이틀</b>
                        </div>
                    </div>
                    <div class="main-news-info-bottom-right2">
                        <img
                                src="/images/mainImage/news4.png"
                                alt="뉴스사진"
                                style="width: 90%"
                        />
                        <p>장르</p>
                        <div>
                            <b>타이틀</b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img
                src="/images/mainImage/main_banner.png"
                alt="배너"
                class="mainbanner"
        />
        <section class="main-about-us">
            <h2>Learn More About Private Sales at Lotheby's</h2>
            <div class="main-about-us-inside">
                <div class="main-about-us-inside-left">
                    <div class="main-about-us-inside-left1">
                        <img src="/images/mainImage/mainabout1.png" alt="about사진" />
                        <b
                        >See All Contemporary Artworks Currently Available for Private
                            Sale</b
                        >
                    </div>
                    <div class="main-about-us-inside-left2">
                        <img src="/images/mainImage/mainabout2.png" alt="about사진" />
                        <b>Discover Private Sales at Lotheby’s</b>
                    </div>
                </div>
                <div class="main-about-us-inside-right">
                    <div class="main-about-us-inside-right1">
                        <img
                                src="/images/mainImage/mainabout3.png"
                                alt="about사진"
                                style="width: 90%"
                        />
                        <b>Lotheby’s Palm Beach</b>
                    </div>
                    <div class="main-about-us-inside-right2">
                        <img
                                src="/images/mainImage/mainabout4.png"
                                alt="about사진"
                                style="width: 90%"
                        />
                        <b>Lotheby’s Los Angeles</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="stuff-various">
            <div class="stuff-various-top">
                <h2>Luxury Items Available For Immediate Purchase</h2>
                <a href="" class="va">View All</a>
            </div>
            <div class="stuff-various-bottom">
                <div class="stuff-various-list">
                    <img src="/images/mainImage/mainstuff1.png" alt="물품사진" />
                    <b>HANDBAGS</b>
                </div>
                <div class="stuff-various-list">
                    <img src="/images/mainImage/mainstuff2.png" alt="물품사진" />
                    <b>JEWELRY</b>
                </div>
                <div class="stuff-various-list">
                    <img src="/images/mainImage/mainstuff3.png" alt="물품사진" />
                    <b>WATCHES</b>
                </div>
                <div class="stuff-various-list">
                    <img src="/images/mainImage/mainstuff4.png" alt="물품사진" />
                    <b>BOOKS & MANUSCRIPTS</b>
                </div>
            </div>
        </section>
        <section class="main-offer-request">
            <div class="main-offer-request-write">
                <p><b>Sell with Lotheby's</b></p>
                <p>
                    curious to know if your item is suitable for one of our upcoming
                    sales
                </p>

                <p>
                    Provide information and share images to request an online estimate
                </p>
                <p>now</p>
                <button>REQUEST AN ESTIMATE</button>
            </div>
            <img src="/images/mainImage/mainrequest.png" alt="오퍼리퀘스트 사진" />
        </section>
        <section class="main-stuff-brands">
            <div class="main-stuff-brands-top">
                <h2>Shop NEW Arrivals From Our Online Store</h2>
                <a href="" class="va">VIEW ALL</a>
            </div>
            <div class="main-stuff-brands-bottom">
                <div class="main-stuff-brands-list">
                    <img src="/images/mainImage/stuffbrandlist2.png" alt="브랜드상품" />
                    <p><strong>BUCCELLATI</strong></p>
                    <p>specific</p>
                    <p>specific</p>
                    <p><small>price</small></p>
                </div>
                <div class="main-stuff-brands-list">
                    <img src="/images/mainImage/stuffbrandlist6.png" alt="브랜드상품" />
                    <p><strong>HERMES</strong></p>
                    <p>specific</p>
                    <p>specific</p>
                    <p><small>price</small></p>
                </div>
                <div class="main-stuff-brands-list">
                    <img src="/images/mainImage/stuffbrandlist7.png" alt="브랜드상품" />
                    <p><strong>TIFANNY&CO</strong></p>
                    <p>specific</p>
                    <p>specific</p>
                    <p><small>price</small></p>
                </div>
                <div class="main-stuff-brands-list">
                    <img src="/images/mainImage/stuffbrandlist4.png" alt="브랜드상품" />
                    <p><strong>GOYARD</strong></p>
                    <p>specific</p>
                    <p>specific</p>
                    <p><small>price</small></p>
                </div>
            </div>
        </section>
        <section class="guest-want-info">
            <div class="guest-want-info-top">
                <p>Stay informed with Lotheby's</p>
                <p>top stories, videos, events &</p>
                <p>news.</p>
                <small>Receive the best from Lotheby's delivered to yout inbox</small>
            </div>
            <div class="guest-want-info-middle">
                <div class="guest-want-info-middle-top">
                    <input type="text" placeholder="Email Address" />
                    <input type="text" placeholder="Title" />
                </div>
                <div class="guest-want-info-middle-bottom">
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                </div>
                <p>
                    By subscribing you are agreeing to
                    <b>Lotheby's Privacy Policy.</b> You can unsubscribe from Lotheby’s
                    emails at any time by clicking the “Manage your Subscriptions” link
                    in any of your emails
                </p>
                <button>Submit</button>
            </div>
        </section>
    </div>
    <script th:src="@{/js/motion.js}"></script>
</div>
</html>
