<html xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<div>
<header th:fragment="headerFragment" class="header">
    <div class="header-image header-bg1" onclick="location.href='#'">
        <button class="header-arrow header-arrow-left" onclick="showPreviousImage()"></button>
        <button class="header-arrow header-arrow-right" onclick="showNextImage()"></button>
    </div>
    <div class="header-background">
        <div class="header-container">
            <div class="header-top">
                <ul>
                    <li><a href="https://www.facebook.com" class="btn-facebook" target="_blank" rel="noopener noreferrer">페이스북</a></li>
                    <li><a href="https://www.youtube.com" class="btn-youtube" target="_blank" rel="noopener noreferrer">유튜브</a></li>
                    <li><a href="https://www.instagram.com" class="btn-instagram" target="_blank" rel="noopener noreferrer">인스타그램</a></li>
                </ul>

                <div class="header-top-logo">
                    <a href="/">LATTE CINEMA</a>
                </div>

                <ul>
                    <li><a href="#">멤버십</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">단체관람/대관문의</a></li>
                    <li class="dto-field" data-value="${user.name}"></li>
                </ul>
            </div>

            <div class="header-bottom">
                <nav class="header-gnb">
                    <ul class="header-gnb-list">
                        <li onclick="location.href='reserve'">예매<span class="header-gnb-bar"></span></li>
                        <li onclick="location.href='movie_list'">영화<span class="header-gnb-bar"></span></li>
                        <li onclick="location.href='#'">영화관<span class="header-gnb-bar"></span></li>
                        <li onclick="location.href='event'">이벤트<span class="header-gnb-bar"></span></li>
                        <li onclick="location.href='#'">스토어<span class="header-gnb-bar test"></span></li>
                    </ul>
                </nav>

                <!--<th:if="${no == 'M' }">
                    <div class="member-check" data-value1="${dto.getMember_name() }"
                         data-value2="${dto.getMember_mileage() }"
                         data-value3="${dto.getMember_grade() }"></div>
                </th:if>-->
                <div class="header-util">
                    <ul>
                        <li class="session-field"><a href="#" class="btn-session"></a></li>
                        <li class="name-field"></li>
                        <li><a href="reserve" class="btn-reserve">바로 예매</a></li>
                        <li><a class="header-modal-btn">≡</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 모달 팝업 영역 -->
        <div class="header-modal">
            <div class="header-modal-popup">
                <div class="header-modal-popup-content">
                    <ul class="content-menu">
                        <li>
                            <p>예매</p>
                            <span><a href="reserve">예매하기</a></span>
                            <span><a href="#">상영시간표</a></span>
                            <span><a href="#">할인안내</a></span>
                        </li>
                        <li>
                            <p>영화</p>
                            <span><a href="movie_list">홈</a></span>
                            <span><a href="movie_schedule">현재상영작</a></span>
                            <span><a href="movie_schedule?plan">상영예정작</a></span>
                            <span><a href="#">아르떼</a></span>
                        </li>
                        <li>
                            <p>영화관</p>
                            <span th:each="i : ${localList}" th:text="${i}" th:href="@{cinema?loc=}"></span>
                        </li>
                        <li>
                            <p>이벤트</p>
                            <span><a href="event">홈</a></span>
                            <span><a href="#">영화</a></span>
                            <span><a href="#">시사회/무대인사</a></span>
                            <span><a href="#">HOT</a></span> <span><a href="#">제휴할인</a></span>
                            <span><a href="#">우리동네영화관</a></span>
                        </li>
                        <li>
                            <p>마이</p>
                            <span><a href="mypage">MY 결제내역</a></span>
                            <span><a href="mypage?coupon">MY 쿠폰함</a></span>
                            <span><a href="mypage?inquiry">MY 문의</a></span>
                            <span><a href="mypage?info">MY 정보 관리</a></span>
                        </li>
                        <li>
                            <p>고객센터</p>
                            <span><a href="customer">FAQ</a></span>
                            <span><a href="customer?notice">공지사항</a></span>
                            <span><a href="customer?inquiry">1:1 문의</a></span>
                            <span><a href="#">단체관람/대관문의</a></span>
                            <span><a href="#">분실물문의</a></span>
                        </li>
                        <li>
                            <p>회원 서비스</p>
                            <span><a href="/user/login">로그인</a></span>

                            <span sec:authorize="isAuthenticated()" th:if="${user != null}">
                                <a th:href="@{/user/signup}" th:text="${user.name}"></a>
                                <a th:each="authority : ${user.authorities}">
                                    <span th:text="${authority.authority}"></span>
                                </a>
                            </span>
                            <span><a th:href="@{/user/signup}" th:text="회원가입"></a></span>
                            <span><a href="#">아이디/비밀번호 찾기</a></span>
                            <span><a href="company_tac">이용약관</a></span>
                            <span><a href="company_privacy_policy">개인정보처리방침</a></span>
                            <span><a href="#">이메일무단수집거부</a></span>
                            <span><a href="#">L.POINT회원안내</a></span>
                        </li>
                        <li>
                            <p>회사소개</p>
                            <span><a href="company_introduce">회사소개</a></span>
                            <span><a href="#">채용안내</a></span> <span><a href="#">광고/임대문의</a></span>
                            <span><a href="#">사회적 책임</a></span>
                        </li>
                    </ul>
                    <div class="header-modal-popup-content-myinfo"></div>
                    <button type="button" class="close-btn"></button>
                </div>
            </div>
        </div>
        <!-- 모달 팝업 영역 end -->

        <div class="header-lnb">
            <ul class="header-lnb-reserve">
                <li onclick="location.href='reserve'">예매하기</li>
                <li onclick="location.href='#'">상영시간표</li>
                <li onclick="location.href='#'">할인안내</li>
            </ul>

            <ul class="header-lnb-movie">
                <li onclick="location.href='movie/list'">홈</li>
                <li onclick="location.href='movie_schedule'">현재상영작</li>
                <li onclick="location.href='movie_schedule?plan'">상영예정작</li>
                <li onclick="location.href='#'">아르떼</li>
            </ul>

            <ul class="header-lnb-cinema">
                <li onclick="location.href='#'">스페셜관</li>
                <li th:each="i : ${localList}" th:text="${i}" onclick="location.href='#'"></li>
            </ul>

            <ul class="header-lnb-event">
                <li onclick="location.href='event'">홈</li>
                <li onclick="location.href='#'">영화</li>
                <li onclick="location.href='#'">시사회/무대인사</li>
                <li onclick="location.href='#'">HOT</li>
                <li onclick="location.href='#'">제휴할인</li>
                <li onclick="location.href='#'">우리동네영화관</li>
            </ul>

            <ul class="header-lnb-store">
                <li onclick="location.href='#'">베스트</li>
                <li onclick="location.href='#'">관람권</li>
                <li onclick="location.href='#'">스낵음료</li>
                <li onclick="location.href='#'">포토카드</li>
            </ul>
        </div>

        <div class="header-lnb-lnb">
            <ul><li th:each="i : ${specialHallList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${seoulList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${gyeonggiIncheonList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${chungCheongDaeJeonList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${jeollaGwangjuList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${gyeongbukDaeguList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${gyeongnamBusanUlsanList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${gangwonList}" th:text="${i}" onclick="location.href='#'"></li></ul>
            <ul><li th:each="i : ${jejuList}" th:text="${i}" onclick="location.href='#'"></li></ul>
        </div>

        <div class="header-bottom-background"></div>
    </div>
</header>
</div>
</html>