@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #111;
    word-break: break-all;
}

body {
    color: inherit;
    font-weight: 400;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

