<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-
                %msg%n</pattern>
        </encoder>
    </appender>
    <root level="IFNO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

<!-- root level="DEBUG" -> 빌드할 때 로그 표시-->
<!-- root level="INFO" -> 빌드할 때 로그 숨김-->