.product{
    background: url('../../imgs/img-interview/img-interview.jpg') no-repeat center / cover;
    background-attachment: fixed;
}

.product-container{
    margin:200px auto 0 auto;
    height:380px;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product h3{
    font-size:36px;
    text-align:center;
}
