@import url('./reset.css');
@import url('./font.css');

.container{
    max-width: 1920px;
    width:100%;
    margin:0 auto;
}

.gray-container{
    background-color: #f6f6f6;
}

.white-container{
    background-color: #fff;
}

.header-container{
    width:75%;
    margin:0 auto;
}

.main-container{
    width:75%;
    margin:0 auto;
}

.text-container{
    width:90%;
    margin:0 auto;
}


.header-top {
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-top h1 a img{
    height:30px;
    width:150px;
}

.header-top p{
    color:#555555;
    font-size:19.2px;
}

.header-top ul{
    display:flex;
}

.header-top ul li{
    line-height:30px;
}

.header-top ul li:nth-of-type(1){
    background-color:#ed1c24;
    color:#fff;
    font-size:11.67px;
    height:30px;
    width:64.22px;
    text-align: center;
    border-radius: 20px;
}

.header-top ul li:nth-of-type(2){
    color:#004c97;
    font-size:13.856px;
    font-weight:700;
    margin-left:30px;
    position:relative;
}

.header-top ul li:nth-of-type(2):before{
    position:absolute;
    display:block;
    content:"";
    top:0;
    left:-15px;
    background-color:#8d8c8c;
    height:15px;
    width:1px;
    transform: translateY(50%);
}


.header-bottom{
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-bottom nav ul{
    display:flex;
}

.header-bottom nav ul li{
    margin-left:50px;
    font-size:18px;
    font-weight:500;
}

.header-bottom div{
    margin-left:400px;
}

.header-bottom div ul{
    display:flex;
}

.header-bottom div ul li{
    font-size:30px;
    padding:20px;
}

.banner{
    background: url('../imgs/banner-img.jpg') no-repeat center / cover;
    height:392px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner div h2{
    font-size:20px;
    color:#fff;
    font-weight:300;
    opacity: 0.7;
}

.banner div p{
    font-size:40px;
    font-weight: 500;
    color:#fff;
    margin:14px 0 42px 0;
}

.banner-text{
    transform: translateY(-20%);
}