/ChangeVarEx.class
/ScannerEx1.class
/ScannerEx2.class
/ScannerEx3.class
/ScannerEx4.class
/ScannerEx5.class
/ScannerWhileEx1.class
/ScannerWhileEx2.class
/ScannerWhileEx3.class
/ScannerWhileEx4.class
