/* 전체선택자 */
*{
    letter-spacing: 20px;
    font-weight: 400;
    font-family: 'Gaegu', cursive;
}

/* CDN 장점 */
/* 사용법이 쉽다. */

/* CDN 단점 */
/* 1. 웹사이트 폰트 바뀌는 시간이 길다. */
/* 2. 구글이 망하면 끝장이다. */

/* 웹의 기본 폰트 사이즈 16px\ */

.box{
    width:200px;
    height:200px;
    border:10px solid red;
    margin:50px 20px 50px 20px;
    /* margin:위 오른쪽 아래 왼쪽 */
    /* margin:상하 좌우 */
    /* margin:50px 20px -> 동일 */
    /* padding도 해당 */
    padding:50px;
    
    /* box-sizing -> contant-box, border-box가 있다. */
    /* contant-box가 기본값이다. */
    /* box-sizing:contant-box; */
    box-sizing:border-box;
    /* border-box : 테두리를 기준으로 사이즈를 지정 */
    /* contant-box : 컨텐츠를 기준으로 사이즈를 지정 */

    /* 파란색 박스 -> 컨텐츠영역 */
    /* 초록색 박스 ->패딩 영역 */
    /* border 영역 -> 테두리 영역 */
    /* margin 영역 -> 테두리 바깥  */

    /* 박스 영역 : 위, 오른쪽, 아래, 왼쪽 */

}