<html xmlns:th="http://www.w3.org/1999/XSL/Transform" lang="ko">
<div>
<footer th:fragment="footerFragment">
    <div class="main-page-bottom">
        <div class="main-page-bottom-top">
            <b>Follow Us</b>
            <a href="#" class="twitter"></a>
            <a href="#" class="facebook"></a>
            <a href="#" class="instagram"></a>
            <a href="#" class="youtube"></a>
        </div>
        <div class="main-page-bottom-bottom">
            <div>
                <b>SUPPORT</b>
                <a href="">Help Center</a>
                <a href="">Locations</a>
                <a href="">Download the App</a>
            </div>
            <div>
                <b>CORPORATE</b>
                <a href="">Press</a>
                <a href="">Privacy Policy</a>
                <a href="">Corporate Governance</a>
                <a href="">Careers</a>
            </div>
            <div>
                <a href=""><b>More..</b></a>
                <a href="">Security</a>
                <a href="">Terms & Conditions</a>
                <a href="">Conditions of Business</a>
                <a href="">Modern Slavery Statement</a>
                <a href="">Do Not Sell My Personal Information</a>
            </div>
            <div></div>
        </div>
    </div>
</footer>
</div>
</html>