<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/style.css}" />
    <title>LOTHEBY'S</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/images/mainImage/lothebys_main_icon.png}" sizes="32x32" />
</head>
<body>
<!-- header -->
<div th:replace="~{common/header :: headerFragment}"></div>

<!-- main -->
<th:block layout:fragment="content"></th:block>

<!-- footer -->
<div th:replace="~{common/footer :: footerFragment}"></div>

<!-- 자바스크립트 Start -->
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/session.js}"></script>
<script th:src="@{/js/timer.js}"></script>
<!-- 자바스크립트 End -->
</body>
</html>