<html layout:decorate="~{common/layout}" lang="ko"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<main layout:fragment="content" class="login">
    <div class="main-container">
        <h2>로그인</h2>
        <div class="login-title">
            <h4>로그인 정보 입력</h4>
        </div>
        <form th:action="@{/user/login}" method="post">
            <ul class="login-content">
                <li>
                    <label>
                        <span>아이디</span>
                        <input type="text" name="username" placeholder="아이디를 입력해주세요." required>
                    </label>
                </li>
                <li>
                    <label>
                        <span>비밀번호</span>
                        <input type="password" name="password" placeholder="비밀번호를 입력해주세요." required>
                    </label>
                </li>
            </ul>
            <div class="login-button">
                <input type="reset" value="취소">
                <input type="submit" value="로그인">
            </div>
        </form>
    </div>
</main>
</html>