<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 폰트 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
<header>
    <nav th:replace="~{common/navbar :: navbarFragment}"></nav>
</header>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<main>
    <th:block layout:fragment="content"></th:block>
</main>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<footer>
    <div>footer</div>
</footer>
<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>