header {
    height: 70px;
}

header h1 {
    font-size: 20px;
}

header a {
    display: block;
    line-height: 70px;
}

/* CSS 중요도 */
/* 얼마나 더 명시적으로 사용하는지에 따라 우선순위가 달라진다. */
header .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

header .container ul {
    display: flex;
}

header .container ul li {
    font-size: 13px;
    font-weight: 500;
}

header .container ul li + li {
    margin-left: 20px;
}

.visual {
    height: 500px;
    /* background로 이미지 넣는 방법 */
    /* background: url(이미지 경로) 반복여부 포지션 / 사이즈 */
    background: url("../images/visual.jpg") no-repeat center / cover;
}